.headerNos{
    h2{
        margin-top: 90px;
        text-align: center;
        color: $colorPrimario;
        font-size: 100px;
    }
}
.headerContacto{
  h3{
    margin-top: 100px;
    text-align: center;
    font-size: 100px;
    color: $colorPrimario;
  }
}