.mainIndex{
    display: flex;
    flex-direction: column;
    align-items: center;
    .sloganIndex{
        margin-top: 25px;
       
        h2{
            font-size: 50px;
            color: $colorPrimario;
            transition: all 3s;
        }
        h2:hover{
            
                transform: rotateY(360deg);
            
        }
        H3{
            color: $colorPrimario;
            margin-top: 15PX;
            font-size: 35PX;
        }
    }
    .sectionIndex{
        div{
            h3{
                color: $colorPrimario;
                font-size: 35px;
                margin-top: 55px;
                text-align: center;
            }
        }
    }
    .tarjetas{
        
        .cierres{
            transition: all 3s;
            margin-top: 60px;
            box-shadow: 6px 5px 8px 2px rgba(0,0,0,0.3);
           
        }
        .cierres:hover{
            transform: translate(-10px, -10px)  scale(1.2);
        }
        .cintas{
            transition: all 3s;
            margin-top: 60px;
            box-shadow: 6px 5px 8px 2px rgba(0,0,0,0.3);
            img{
               width: 500px;
                padding: 30px;
            }
        }
        .cintas:hover{
            transform: translate(-10px, -10px)  scale(1.2);
        }
        .hilos{
            transition: all 3s;
            margin-top: 60px;
            box-shadow: 6px 5px 8px 2px rgba(0,0,0,0.3);
            img{
                padding: 30px;
            }
        }
        .hilos:hover{
            transform: translate(-10px, -10px)  scale(1.2);
        }
        .guata{
            transition: all 3s;
            margin-top: 60px;
            margin-bottom: 60px;
            box-shadow: 6px 5px 8px 2px rgba(0,0,0,0.3);
            img{
                padding: 30px;
            }
        }
        .guata:hover{
            transform: translate(-10px, -10px)  scale(1.2);
        }
    }
    }
    .mainNos{
        .parrafoNos{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        margin: 50px 10px 10px 15px;    
        font-size: 28px;
        color: $colorPrimario;
        background-color: rgba(0, 0, 0, 0.933);
        padding: 10px;
        p {
            padding: 15px;
            line-height: 40px;
            
          }
        }
        .somos{
            display: flex;
            flex-direction: column;
            align-items: center;
            div{
                text-align: center;
               margin-top: 25px;
                background-color: rgba(0, 0, 0, 0.933);
                img{
                    width: 700px;
                }
                h4{
                    
                    color: $colorPrimario;
                    font-size: 30px;
                    margin-top: 10px;
                }
            }
            p{
                font-size: 40px;
                color: $colorPrimario;
                width: 700px;
                margin-top: 25px;

            }
        }
    }
    .mainContacto{
        .divForm { 
        
            color: $colorPrimario;
            font-size: 10px;
            textarea {
                width: 95%;
                border: 4px solid $colorPrimario;
                border-radius: 15px;
                background-color: $colorTerciario;
                color: black;
                font-size: 18px;
                padding: 5px;
                margin-left: 15px;
              
            }
            input {
                width: 95%;
                border: 4px solid $colorPrimario;
                border-radius: 15px;
                background-color: $colorTerciario;
                color: white;
                font-size: 20px;
                padding: 5px;
                margin: 15px;
            }
            
            .btnBtn{
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                margin-bottom: 15px;
                
             
            }
    
        .btnBtn input{
            background-color: $colorPrimario;
            font-size: 24px;
            width: 150px;
            align-items: center;
            margin: 1px;
            font-style: none;
            text-decoration: none;
        }
        
            
        }
        section{
            background-color: $colorTerciario;
            margin: 6px;
            padding: 6px;
            
            display: flex;
            flex-direction: row-reverse;
            justify-items: center;
            .logoRedesContacto{
         
                width: 50%;
                display: flex;
                flex-direction: column;
                margin-right: 55px;
                padding: 10px;
                justify-content: space-evenly;
                img{
                    width: 30px;
                    margin-bottom: 30px
                }
                
                
                .divInstagram{
                    display: flex;
                    flex-direction: row-reverse;
                    align-items: center;
                 
                    
                    margin-bottom: 10px;
                     h5{
                        margin-bottom: 30px;
                        margin-left: 15px;
                        font-size: 16px;
                        align-items: center;
                    }
                }
                
            }
            .logosContacto {
        
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                align-items: center;
                justify-content: space-between;
                width: 50%;
                margin-right: 50px;
                margin-left: 30px;
                img {
            
                    width: 30px;
                
                }
                .divDatos{
                    display: flex;
                    flex-direction: row-reverse;  
                    align-items: center;
                    margin-bottom: 80px;
                    h5 {
                        font-size: 16px;
                        margin-left: 5px;
                        
                        
                    }
                }
            }
        
            
        }
        }
    