* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif; }

.navegador {
  position: fixed;
  top: 0;
  z-index: 30;
  border: 3px solid #1a4726;
  display: flex;
  flex-direction: row;
  background-color: white; }
  .navegador .hamburguesa {
    border: 6px solid #1a4726; }
  .navegador .imgLogo {
    display: flex;
    align-items: center; }
    .navegador .imgLogo img {
      width: 90px;
      margin: 15px; }
    .navegador .imgLogo h1 {
      color: #1a4726;
      margin: 5px 0 0 50px; }
  .navegador .menuHamb ul li a {
    font-size: 25px; }

.headerH1 {
  margin-top: 90px; }

.headerNos h2 {
  margin-top: 90px;
  text-align: center;
  color: #1a4726;
  font-size: 100px; }

.headerContacto h3 {
  margin-top: 100px;
  text-align: center;
  font-size: 100px;
  color: #1a4726; }

.headerCierres h3 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-top: 100px;
  text-align: center;
  font-size: 100px;
  color: #1a4726; }

.mainIndex {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .mainIndex .sloganIndex {
    margin-top: 25px; }
    .mainIndex .sloganIndex h2 {
      font-size: 90px;
      color: #1a4726;
      transition: all 3s; }
    .mainIndex .sloganIndex h2:hover {
      transform: rotateY(360deg); }
    .mainIndex .sloganIndex H3 {
      color: #1a4726;
      margin-top: 15PX;
      font-size: 50PX;
      text-align: center; }
  .mainIndex .sectionIndex div h3 {
    color: #1a4726;
    font-size: 35px;
    margin-top: 55px;
    text-align: center; }
  .mainIndex .tarjetas .cierres {
    transition: all 3s;
    margin-top: 60px;
    box-shadow: 6px 5px 8px 2px rgba(0, 0, 0, 0.3); }
    .mainIndex .tarjetas .cierres h5 {
      font-size: 35px;
      color: #1a4726;
      text-align: center;
      text-decoration-line: underline; }
    .mainIndex .tarjetas .cierres p {
      font-size: 25px;
      text-align: center;
      color: #1a4726; }
    .mainIndex .tarjetas .cierres a {
      width: 100%;
      font-size: 26px;
      padding: 25px;
      background-color: #1a4726; }
  .mainIndex .tarjetas .cierres:hover {
    transform: translate(-10px, -10px) scale(1.2); }
  .mainIndex .tarjetas .cintas {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 3s;
    margin-top: 60px;
    box-shadow: 6px 5px 8px 2px rgba(0, 0, 0, 0.3); }
    .mainIndex .tarjetas .cintas img {
      width: 600px;
      padding: 10px;
      margin-top: 15px; }
    .mainIndex .tarjetas .cintas h5 {
      font-size: 35px;
      color: #1a4726;
      text-align: center;
      text-decoration-line: underline; }
    .mainIndex .tarjetas .cintas p {
      font-size: 25px;
      text-align: center;
      color: #1a4726; }
    .mainIndex .tarjetas .cintas a {
      width: 846px;
      font-size: 26px;
      padding: 25px;
      background-color: #1a4726; }
  .mainIndex .tarjetas .cintas:hover {
    transform: translate(-10px, -10px) scale(1.2); }
  .mainIndex .tarjetas .hilos {
    transition: all 3s;
    margin-top: 60px;
    box-shadow: 6px 5px 8px 2px rgba(0, 0, 0, 0.3); }
    .mainIndex .tarjetas .hilos img {
      padding: 30px; }
    .mainIndex .tarjetas .hilos h5 {
      font-size: 35px;
      color: #1a4726;
      text-align: center;
      text-decoration-line: underline; }
    .mainIndex .tarjetas .hilos p {
      font-size: 25px;
      text-align: center;
      color: #1a4726; }
    .mainIndex .tarjetas .hilos a {
      width: 100%;
      font-size: 26px;
      padding: 25px;
      background-color: #1a4726; }
  .mainIndex .tarjetas .hilos:hover {
    transform: translate(-10px, -10px) scale(1.2); }
  .mainIndex .tarjetas .guata {
    transition: all 3s;
    margin-top: 60px;
    margin-bottom: 60px;
    box-shadow: 6px 5px 8px 2px rgba(0, 0, 0, 0.3); }
    .mainIndex .tarjetas .guata img {
      padding: 30px; }
    .mainIndex .tarjetas .guata h5 {
      font-size: 35px;
      color: #1a4726;
      text-align: center;
      text-decoration-line: underline; }
    .mainIndex .tarjetas .guata p {
      font-size: 25px;
      text-align: center;
      color: #1a4726; }
    .mainIndex .tarjetas .guata a {
      width: 100%;
      font-size: 26px;
      padding: 25px;
      background-color: #1a4726; }
  .mainIndex .tarjetas .guata:hover {
    transform: translate(-10px, -10px) scale(1.2); }

.mainNos .parrafoNos {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  margin: 50px 10px 10px 15px;
  font-size: 28px;
  color: #1a4726;
  background-color: rgba(0, 0, 0, 0.249);
  padding: 10px; }
  .mainNos .parrafoNos p {
    padding: 15px;
    line-height: 40px; }

.mainNos .somos {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .mainNos .somos div {
    text-align: center;
    margin-top: 25px;
    background-color: rgba(0, 0, 0, 0.933); }
    .mainNos .somos div img {
      width: 700px; }
    .mainNos .somos div h4 {
      color: #1a4726;
      font-size: 30px;
      margin-top: 10px; }
  .mainNos .somos p {
    font-size: 40px;
    color: #1a4726;
    width: 700px;
    margin-top: 25px; }

.mainContacto {
  background-image: url(../img/bga.jpg);
  background-attachment: fixed;
  background-repeat: repeat-y;
  background-size: contain; }
  .mainContacto .divForm {
    color: #1a4726;
    font-size: 10px; }
    .mainContacto .divForm div {
      margin-top: 55px;
      margin-bottom: 55px; }
    .mainContacto .divForm textarea {
      width: 95%;
      height: 450px;
      border: 4px solid #1a4726;
      border-radius: 15px;
      background-color: #d0ffe5;
      color: black;
      font-size: 18px;
      padding: 5px;
      margin-left: 15px; }
    .mainContacto .divForm input {
      width: 95%;
      height: 100px;
      border: 4px solid #1a4726;
      border-radius: 15px;
      background-color: #d0ffe5;
      color: white;
      font-size: 20px;
      padding: 5px;
      margin: 15px; }
    .mainContacto .divForm .btnBtn {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      margin-bottom: 15px; }
    .mainContacto .divForm .btnBtn input {
      background-color: #1a4726;
      font-size: 24px;
      width: 150px;
      align-items: center;
      margin: 1px;
      font-style: none;
      text-decoration: none; }
  .mainContacto section {
    background-color: #d0ffe5;
    margin-left: 15px;
    margin-right: 25px;
    margin-top: 350px;
    margin-bottom: 250px;
    padding: 10px;
    display: flex;
    flex-direction: row-reverse;
    justify-items: center; }
    .mainContacto section .logoRedesContacto {
      width: 50%;
      display: flex;
      flex-direction: column;
      margin-right: 5px;
      margin-top: 10px;
      padding: 10px;
      justify-content: space-evenly; }
      .mainContacto section .logoRedesContacto img {
        width: 30px;
        margin-bottom: 30px; }
      .mainContacto section .logoRedesContacto .divInstagram {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        margin-bottom: 10px; }
        .mainContacto section .logoRedesContacto .divInstagram h5 {
          margin-bottom: 30px;
          margin-left: 15px;
          font-size: 16px;
          align-items: center; }
    .mainContacto section .logosContacto {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
      width: 50%;
      margin-right: 50px;
      margin-left: 30px;
      margin-top: 30px; }
      .mainContacto section .logosContacto img {
        width: 30px; }
      .mainContacto section .logosContacto .divDatos {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        margin-bottom: 80px; }
        .mainContacto section .logosContacto .divDatos h5 {
          font-size: 16px;
          margin-left: 5px; }

.mainCierres .mono {
  background-color: rgba(0, 0, 0, 0.173); }
  .mainCierres .mono h4 {
    text-align: center;
    text-decoration-line: underline;
    font-size: 42px;
    color: #1a4726;
    margin-top: 35px;
    margin-bottom: 55px; }
  .mainCierres .mono p {
    font-size: 25px;
    line-height: 40px;
    text-align: center;
    color: #1a4726; }
  .mainCierres .mono .mono1y2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 152px;
    padding: 55px; }
    .mainCierres .mono .mono1y2 .mono1 {
      width: 45%; }
    .mainCierres .mono .mono1y2 .mono2 {
      width: 45%; }
    .mainCierres .mono .mono1y2 .mono3 {
      width: 100%; }
  .mainCierres .mono .ddp {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 152px;
    padding: 55px; }
  .mainCierres .mono .ddp1 {
    width: 45%; }
  .mainCierres .mono .ddp2 {
    width: 45%; }

.mainCierres .parrafoHilos {
  padding: 24px;
  margin-bottom: 152px;
  background-color: rgba(0, 0, 0, 0.173); }
  .mainCierres .parrafoHilos h3 {
    color: #1a4726;
    font-size: 64px; }
  .mainCierres .parrafoHilos p {
    color: #1a4726;
    font-size: 24px; }

aside {
  margin-bottom: 100px; }
  aside h4 {
    color: #1a4726;
    font-size: 66px;
    text-align: center;
    margin-bottom: 25px; }

footer {
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #1a4726; }
  footer .logosFooter {
    margin-top: 10px; }
    footer .logosFooter a img {
      width: 64px;
      margin: 8px; }
  footer .isologo {
    display: flex;
    align-items: center;
    justify-content: space-between; }
    footer .isologo img {
      width: 100px;
      margin-bottom: 10px;
      margin-right: 14px; }
    footer .isologo h5 {
      margin-left: 15px;
      color: black; }
